@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  /* overflow-x: hidden; */
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
}
