.footer {
  margin-top: auto;
  background-color: #333333;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;

  margin-left: auto;
  margin-right: auto;
  padding: 24px 32px;

  max-width: 1920px;
}

.footer a {
  color: #ffffff;
}
