.card {
  display: flex;
  padding: 24px;
  border-radius: 8px;
  background-color: #ffffff;
  max-width: 1920px;
  position: relative;
}

.card__image {
  border-radius: 8px;
  margin-right: 24px;
  /* object-fit: 'cover'; */
}

.card__description h3 {
  color: #1b1f23;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.card__movieGenre {
  color: #1b1f23;
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}

.card__buttons {
  position: absolute;
  right: 24px;
  top: 24px;
}

.card__buttons_close {
  position: absolute;
  right: 68px;
  top: 24px;
}

.card_close {
  position: absolute;
  right: 24px;
  top: 26px;
  cursor: pointer;
}
